<h3>配送先編集</h3>

<div class='container'>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <%= form_with model:@delivery, local:true do |f| %>
        <div class="form-group">
          <%= f.label :postcode, '郵便番号(ハイフンなし)' %>
          <%= f.text_field :postcode, class: "form-control delivery_postcode" %>
        </div>
        <div class="form-group">
          <%= f.label :address, '住所' %>
          <%= f.text_field :address, class: "form-control delivery_address" %>
        </div>
        <div class="form-group">
          <%= f.label :name, '宛名' %>
          <%= f.text_field :name, class: "form-control delivery_name" %>
        </div>
        <div class="actions">
          <%= f.submit "編集する", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
