<h3>配送先登録/一覧</h3>

<%= form_with model:@derivery, local:true do |f| %>
  <div class="form-group">
    <%= f.label :postcode, '郵便番号(ハイフンなし)' %>
    <%= f.text_field :postcode, class: "form-control delivery_postcode" %>
  </div>
  <div class="form-group">
    <%= f.label :address, '住所' %>
    <%= f.text_field :address, class: "form-control delivery_address" %>
  </div>
  <div class="form-group">
    <%= f.label :name, '宛名' %>
    <%= f.text_field :name, class: "form-control delivery_name" %>
  </div>
  <div class="actions">
    <%= f.submit "登録する", class: "btn btn-success" %>
  </div>
<% end %>

<table class='table'>
  <thead>
    <tr>
      <td>郵便番号</td>
      <td>住所</td>
      <td>宛名</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @deliveries.each do |derivery| %>
      <tr>
        <td><%= delivery.postcode %></td>
        <td><%= delivery.address %></td>
        <td><%= delivery.name %></td>
        <td><%= link_to '編集する', edit_customers_delivery_path(delivery), class: "btn btn-primary" %><%= link_to '削除する', customers_deliveries_path, method: :delete, "data-confirm" => '本当に削除しますか？', class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
