<h2>登録情報編集</h2>

<div class='container'>
  <div class="row">
    <div class="col-sm-12">
      <%= form_with model:current_customer, url: customers_customer_path, method: :patch, local:true do |f| %>
        <form class=""
        <div class="form-group">
          <p>名前</p>
          <%= f.label :last_name, '(姓)' %><%= f.text_field :last_name, class: "form-control customer_last_name" %><%= f.label :first_name, '(名)' %><%= f.text_field :first_name, class: "form-control customer_first_name" %>
        </div>
        <div class="form-group">
          <%= f.label :フリガナ %>
          (セイ)<%= f.text_field :kana_last_name, class: "form-control customer_kana_last_name" %>(メイ)<%= f.text_field :kana_first_name, class: "form-control customer_kana_first_name" %>
        </div>
        <div class="form-group">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, class: "form-control customer_email" %>
        </div>
        <div class="form-group">
          <%= f.label :postcode, '郵便番号(ハイフンなし)' %>
          <%= f.text_field :postcode, class: "form-control customer_postcode" %>
        </div>
        <div class="form-group">
          <%= f.label :street_address, '住所' %>
          <%= f.text_field :street_address, class: "form-control customer_street_address" %>
        </div>
        <div class="form-group">
          <%= f.label :phone_number, '電話番号(ハイフンなし)' %>
          <%= f.telephone_field :phone_number, class: "form-control customer_phone_number" %>
        </div>
        <div class="form-group">
          <%= f.submit '編集内容を保存する', class: "btn btn-primary" %>
        </div>
      <% end %>
      <%= link_to '退会する', customers_customers_unsubscribe_path(current_customer), class: "btn btn-sm btn-danger" %>
    </div>
  </div>
</div>
