<div>
  <div>
    <!--errormsg-->
    <h2><%= customer.first_name + customer.last_name %>さんの会員情報編集</h2>

    <%= form_with(model: @customer, url :admins_customer_path, local: true , method: :patch) do |f| %>

    <div>
      <%= f.label :"会員ID" %>
      <%= f.label :"#{@customer.id}" %>
    </div>

    <dev>
      <%= f.label :"氏名" %>
      <%= f.text_fild :last_name %>
      <%= f.text_fild :first_name %>
    </dev>

    <dev>
      <%= f.label :"フリガナ"%>
      <%= f.text_fild :kana_last_name %>
      <%= f.text_fild :kana_first_name %>
    </dev>

    <div>
      <%= f.label :"郵便番号" %>
      <%= f.text_fild :postcode %>
    </div>

    <div>
      <%= f.label :"住所" %>
      <%= f.text_fild :street_address %>
    </div>

    <div>
      <%= f.label :"電話番号" %>
      <%= f.text_fild :phone_number %>
    </div>

    <div>
      <%= f.label :"メールアドレス" %>
      <%= f.text_fild :email%>
    </div>

    <div>
      <%= f.label :"会員ステータス" %>
        <%= f.radio_button :is_unsubscribed, true %>
        <%= f.label :is_unsubscribed, "退会済み", {value: :true} %>
        <%= f.radio_button :is_unsubscribed, false %>
        <%= f.label :is_unsubscribed, "有効", {value: :false}%>
    </div>
  </div>

    <div>
      <%= f.sibmit '変更を保存する' %>
    </div>
  <% end %>
    <div>
      <%= link_to "戻る", admins_customer_path %>
    </div>
</div>