<br>
<h1 class="text-center"><%= @customer.last_name + @customer.first_name %>さんの会員情報</h1>
<br>
<br>
<div class="row">
    <div class="col-xl-12">
        <table class="show-table table-bordered">
            <tr><th>顧客ID</th>
                <td><%= @customer.id%></td>
                    <td>
                        <% if @customer.is_unsubscribed == true %>
                        <p>退会済み</p>
                        <% elsif @customer.is_unsubscribed == false %>
                        <p>有効会員</p>
                        <% end %>
                    </td>
            </tr>
            <tr><th>氏名</th><td><%= @customer.last_name + @customer.first_name %></td></tr>
            <tr><th>フリガナ</th><td><%= @customer.kana_last_name + @customer.kana_first_name %></td></tr>
            <tr><th>郵便番号</th><td><%= @customer.postcode %></td></tr>
            <tr><th>住所</th><td><%= @customer.street_address %></td></tr>
            <tr><th>電話番号</th><td><%= @customer.phone_number %></td></tr>
            <tr><th>メールアドレス</th><td><%= @customer.email %></td></tr>
        </table>

        <div class="text-center">
            <%= link_to "編集する", edit_admins_customer_path(@customer), class: "btn btn-primary btn-sm w-auto" %>
            <%= link_to "注文履歴一覧を見る", admins_orders_path, class: "btn btn-primary btn-sm w-auto" %>
        </div>
    </div>
</div>