<br>
<h2 class="col-lg-4 offset-lg-1 title_h2 text-center"><%= @customer.last_name + @customer.first_name %>さんの会員情報</h2>
<br>
<br>
<div class="row">
    <div class="col-xl-12">
        <table class="admins-custommer-show-table table-bordered width="50" height="500"">
            <tr><th class="text-center">顧客ID</th>
                <td class="text-center"><%= @customer.id%>
                        <% if @customer.is_unsubscribed == true %>
                        <p class="admins-customer-text">退会済み</p>
                        <% elsif @customer.is_unsubscribed == false %>
                        <p class="admins-customer-text">有効会員</p>
                        <% end %>
                    </td>
            </tr>
            <tr><th class="text-center">氏名</th><td class="text-center"><%= @customer.last_name + @customer.first_name %></td></tr>
            <tr><th class="text-center">フリガナ</th><td class="text-center"><%= @customer.kana_last_name + @customer.kana_first_name %></td></tr>
            <tr><th class="text-center">郵便番号</th><td class="text-center"><%= @customer.postcode %></td></tr>
            <tr><th class="text-center">住所</th><td class="text-center"><%= @customer.street_address %></td></tr>
            <tr><th class="text-center">電話番号</th><td class="text-center"><%= @customer.phone_number %></td></tr>
            <tr><th class="text-center">メールアドレス</th><td class="text-center"><%= @customer.email %></td></tr>
        </table>

        <br>
        <div class="text-center">
            <%= link_to "編集する", edit_admins_customer_path(@customer), class: "btn btn-primary btn-sm w-auto" %>
            <%= link_to "注文履歴一覧を見る", admins_orders_path, class: "btn btn-primary btn-sm w-auto" %>
        </div>
    </div>
</div>