<!---Admins::Items#edit--->
<div class="admins-item-body">
  <!---タイトル--->
  <strong class="admins-title-name">商品編集</strong>

  <div class="container">
    <%= form_with model:@item, url: admins_item_path(@item), method: :patch, local:true do |f| %>
    <div class="row">
      <!---商品写真--->
      <div class="col-lg-4">
          <%= attachment_image_tag(@item, :image, size:'350x250') %>
          <%= f.attachment_field :image %>
      </div>
      <!---商品項目登録--->
      <div class="col-lg-7">
        <table class="admins_item_show_table">
          <tr>
            <th class="admin-new-item-name"><%= f.label "商品名" %></th>
            <td class="admin-new-item-explanation"><%= f.text_field :item_name, size: 40 %></td>
          </tr>
          <tr>
            <th class="admin-new-item-name"><%= f.label "商品説明" %></th>
            <td class="admin-new-item-explanation"><%= f.text_area :explanation, size: "40x10" %></td>
          </tr>
          <tr>
            <th class="admin-new-item-name"><%= f.label "ジャンル" %></th>
            <td class="admin-new-item-explanation"><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい", size: 40 %></td>
          </tr>
          <tr>
            <th class="admin-new-item-name"><%= f.label "税抜価格" %></th>
            <td class="admin-new-item-explanation"><%= f.text_field :non_taxed_price, size: 40 %>
          </tr>
          <tr>
            <th class="admin-new-item-name"><%= f.label "販売ステータス" %></th>
            <td class="admin-new-item-explanation"><%= f.select :is_active, { '販売中' => true, '売切れ' => false }, { include_blank: "選択して下さい" } %></td>
          </tr>
        </table>
      </div>
      <div class="col-lg-1 admins-item-edit">
        <%= f.submit "変更を保存", class: "btn btn-primary pull-right admins-item-edit-btn" %>
      </div>
    </div>
    <% end %>
  </div>
</div
