<!---Admins::Items#index--->
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h5>商品一覧</h5>
      <%= link_to "", new_admins_item_path, class: "btn btn-default glyphicon glyphicon-plus-sign" %>
      <div class=table>
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @items.each do |item| %>
          <td>
            <th><%= item.id %></th>
            <th><%= item.name %></th>
            <th><%= item.genre.name %></th>
            <th><%= item.is_active %></th>
          </td>
        <% end %>
        <%= paginate @items %>
        </tbody>
      </div>
    </div>
  </div>
</div>
