<!---Admins::Items#new--->
<div class="admins-item-body">
  <strong class="admins-title-name">商品新規登録</strong>
  <div class="container">
    <%= form_with model:@item, url:'/admins/items', local:true do |f| %>
      <div class="row admin-item-show-body">
        <div class="col-xs-4">
          <%= f.attachment_field :image %>
        </div>
        </div class="col-xs-4">
          <div>
            <%= f.label "商品名" %>
            <%= f.text_field :item_name %>
          </div>
          <div>
            <%= f.label "商品説明" %>
            <%= f.text_area :explanation %>
          </div>
          <div>
            <%= f.label "ジャンル" %>
            <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
          </div>
          <div>
            <%= f.label "税抜価格" %>
            <%= f.text_field :non_taxed_price %>
          </div>
          <div>
            <%= f.label "販売ステータス" %>
            <%= f.select :is_active, { '販売中' => true, '売切れ' => false }, { include_blank: "選択して下さい" } %>
          </div>
        </div>
        <div class="col-xs-4">
          <%= f.submit "新規登録" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
