<!---Admins::Items#new--->
<h1>商品新規登録</h1>


<div>
  <%= form_with model:@item, local:true do |f| %>
    <div>
      <%= f.attachment_field :image %>
    </div>
    <div>
      <%= f.label "商品名" %>
      <%= f.text_field :item_name %>
    </div>
    <div>
      <%= f.label "商品説明" %>
      <%= f.text_area :explanation %>
    </div>
    <div>
      <%= f.label "ジャンル" %>
      <%= f.colleciton_select :genre_id, genre.all, :id, :name, include_blank: "選択して下さい" %>
    </div>
    <div>
      <%= f.label "税抜価格" %>
      <%= f.text_field :non_taxed_price %>
    </div>
    <div>
      <%= f.label "販売ステータス" %>
      <%= f.select :is_active, [['販売中',true]['売切れ',false]], { include_blank: "選択して下さい" } %>
    </div>
    <%= f.submit "新規登録" %>
  <% end %>
</div>

