<!---Admins::Items#show--->
<h1>商品詳細</h1>
<div>
  <div>
    <%= attachment_image_tag(@item, :image, :fill, 100, 100) %>
  </div>

  <div>
    <P>商品名 <%= @item.item_name %></P>
  </div>

  <div>
    <p>商品説明 <%= @item.explanation %></p>
  </div>

  <div>
    <p>ジャンル <%= @item.genre.name %></p>
  </div>

  <div>
    <% price = (@item.non_taxed_price * 1.1) .floor %>
    <p>税込価格(税抜価格) <%= price %>(<%= @item.non_taxed_price %>)円</p>
  </div>

  <div>
    <p>販売ステータス </p>
    <% if @item.is_active == true %>
      <p>販売中</p>
    <% else %>
      <p>売切れ</p>
    <% end %>
  </div>

  <%= link_to "編集する", edit_admins_item_path(@item) %>
</div>