<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/genre_search', genres: @genres %>
    </div>
    <div class="col-md-9">
      <span>商品一覧(全<%= @items.count %>件)</span>
      <div class="item-index">
      <% @items.each do |item| %>
        <%= attachment_image_tag item, :image, :fill, 300, 300, format: 'jpeg' %></br>
        <%= link_to customers_item_path(item.id) do %>
        <%= item.item_name %></br>
        <% end %>
        ￥<%= item.non_taxed_price %>
      <% end %>
      </div>
    </div>
  </div>
</div>