<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p>ジャンル検索</p>
    </div>
    <div class="col-md-3">
      <%= attachment_image_tag @item, :image, :fill, 60, 60, format: 'jpeg' %>
    </div>
    <div class="col-md-5">
      <%= @item.item_name %></br>
      <%= @item.explanation %>
      <p>
        <% price = (@item.non_taxed_price * 1.1).floor %>
        ￥<%= price %>（税込み）
      </p>
      <%= form_with(model: [@item, @cart_item], url: customers_cart_items_path, local:true) do |f| %>
       <%= f.select :amount, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"]], include_blank: "個数選択" %>
       <%= f.submit 'カートに入れる'%>
     <% end %>
    </div>
  </div>
</div>