<!---Admins::Orders#show--->
<div class="admins-order-body">
  <!---タイトル--->
  <strong class="admins-order-title-name">注文履歴詳細</strong>
  <table class="table table-borderless admins-order-show-info-table">
    <tr>
      <th class="admins-order-show-info">購入者</th>
      <td class="admins-order-show-info"><%= @order.customer.last_name %><%= @order.customer.first_name %></td>
    </tr>
    <tr>
      <th class="admins-order-show-info">配送先</th>
      <td class="admins-order-show-info">〒<%= @order.postcode %> <%= @order.address %><br><%= @order.name %></td>
    </tr>
    <tr>
      <th class="admins-order-show-info">支払方法</th>
      <td class="admins-order-show-info"><%= @order.payment_method %></td>
    </tr>
    <%= form_with model:@order, url: "/admins/orders/#{@order.id}", method: :patch, local:true do |f| %>
    <tr>
      <th class="admins-order-show-info">注文ステータス</th>
      <td class="admins-order-show-info"><%= f.select :status, { '入金待ち' => '入金待ち', '入金確認' => '入金確認', '製作中' => '製作中', '発送準備中' => '発送準備中', '発送済み' => '発送済み'}, {}, {class: 'status_text'} %>  <%= f.submit "更新", class: "btn btn-1 pull-right", id: "status_button" %></td>
    </tr>
    <% end %>
  </table>
  <div class="container">
    <div class="row admins-order-table">
      <div class="col-lg-8">
        <table class="table">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
              <th>制作ステータス</th>
            </tr>
          </thead>
          <% @order_items.each do |order_item| %>
          <tbody>
            <% price = (order_item.item.non_taxed_price * 1.1).floor %>
            <tr>
              <td><%= order_item.item.item_name %></td>
              <td><%= price.to_s(:delimited) %></td>
              <td><%= order_item.amount %></td>
              <td>
                <% subtotal = (price * order_item.amount) %>
                <%= subtotal.to_s(:delimited) %>
              </td>
              <%= form_with model:order_item, url:"/admins/orders/#{@order.id}/order_items/#{order_item.id}", method: :patch, local:true do |f| %>
              <td><%= f.select :production_status, { '制作不可' => '制作不可', '製作待ち' => '製作待ち', '製作中' => '製作中', '製作完了' => '製作完了'}, {}, {class: 'production_status_text'} %> <%= f.submit "更新", class: "btn btn-1 pull-right", id: "production_status_button" %></td>
            </tr>
  　　        <% end %>
          </tbody>
          <% end %>
        </table>
      </div>
      <div class="col-lg-4 admins-order-total">
        <table class="table table-borderless admins-order-total-table">
          <tr>
            <th>商品合計</th>
            <td><%= @total_price.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <th>送料</th>
            <td><%= @order.fee %>円</td>
          </tr>
          <tr>
            <th>請求金額合計</th>
            <td><%= (@total_price += 800).to_s(:delimited) %>円</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>