<header>
  <nav class="nav navbar-nav title">
   <ul class="header-ul justify-content-around">
     <div class="logo pull-left">
    <% if admin_signed_in? %>
      <%= link_to image_tag('logo.png'), admins_homes_top_path, :width => '40', :height => '10'%>
    <% else %>
      <%= link_to image_tag('logo.png'), '/', :width => '40', :height => '10'%>
    <% end %>
     </div>
   <!--/ul-->

    <!--ul class="nav navbar-expand-lg justify-content-around"-->

      <!--会員がログインしているとき-->

      <% if customer_signed_in? %>

      <li>
        <h2>ようこそ、<%= current_customer.last_name + current_customer.first_name %>さん！</h2>
      </li>
      <li>
        <%= link_to "マイページ", customers_customer_path(current_customer), class: "btn btn-malformation btn-outline-secondary btn-sm w-auto" %>
      </li>
      <li>
        <%= link_to "商品一覧", customers_items_path, class: "btn btn-malformation btn-outline-secondary btn-sm w-auto" %>
      </li>
      <li>
        <%= link_to "カート", customers_cart_items_path(current_customer), class: "btn btn-malformation btn-outline-secondary btn-sm w-auto" %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-malformation btn-outline-secondary btn-sm w-auto" %>
      </li>

      <% elsif admin_signed_in? %>

      <!--管理者がログインしているとき-->
      <li>
        <%= link_to "商品一覧", admins_items_path, class: "btn btn-malformation btn-outline-secondary btn-sm w-auto" %>
      </li>
      <li>
        <%= link_to "会員一覧", admins_customers_path, class: "btn btn-malformation btn-outline-secondary btn-sm w-auto" %>
      </li>
      <li>
        <%= link_to "注文履歴一覧", admins_orders_path, class: "btn btn-malformation btn-outline-secondary btn-sm w-auto" %>
      </li>
      <li>
        <%= link_to "ジャンル一覧", admins_genres_path, class: "btn btn-malformation btn-outline-secondary btn-sm w-auto" %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-malformation btn-outline-secondary btn-sm w-auto" %>
      </li>

      <% else %>

      <!--ログインしていないとき-->
      <li>
        <%= link_to "About", about_path, class: "btn btn-malformation btn-outline-secondary btn-sm w-auto" %>
      </li>
      <li>
        <%= link_to "商品一覧", customers_items_path, class: "btn btn-malformation btn-outline-secondary btn-sm w-auto" %>
      </li>
      <li>
        <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-malformation btn-outline-secondary btn-sm w-auto" %>
      </li>
      <li>
        <%= link_to "ログイン", new_customer_session_path, class: "btn btn-malformation btn-outline-secondary btn-sm w-auto" %>
      </li>
      <% end %>
    </ul>
  </nav>
</header>