<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


    <script src="https://kit.fontawesome.com/42591157a3.js" crossorigin="anonymous"></script>


  </head>

  <body>
    <script src="jquery.min.js"></script>
    <script src="app.js"></script>
    <script type="text/javascript" src="../assets/javascripts/footerFixed.js"></script> 
    
    <div id="wrapper">
      <div class="header">
        <div class="top">
        <%= render "layouts/header" %>
      </div>
      <%= yield %>
      
      
    <!-- footer -->
    <footer id="footer" class="text-center">
      <p>Copyright © naganoCAKE Inc. All Rights Reserved.</p>
    </footer>
    </div>
    </div>
  </body>
</html>
