<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

   
    <script src="https://kit.fontawesome.com/42591157a3.js" crossorigin="anonymous"></script>


  </head>

  <body>
    <div id="wrapper">
      <div class="header">
        <%= render "layouts/header" %>
      </div>
      <%= yield %>
    
    </div>
    
    <footer>
      <div class="footer-text text-center">
        Copyright © nagano CAKE Inc.
      </div>
    </footer>
  </body>
</html>
